.trash {
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 10px;
}

/* body {
    background-color: #393E46;
  } */

.big {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 50px;
  color: #4ECCA3;
}

.text {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

/* .image {
    width: 80%;
  } */
/*   
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
   */